<header>
  <div class="header_top">
      <div class="container">
          <div class="row">
              <div class="col-4">
                  <div class="logo">
                      <a href="index.html"><img src="assets/img/logo1.png" class="img-responsive" /></a>
                  </div>
              </div>
              <div class="col-7">
                  <button class="btn-search"><span class="fa fa-search"></span></button>
                  <input type="text" class="form-control search"  name="" placeholder="Search for Products">
                  
              </div>
              <div class="col-1">
                  <a  routerLink="/checkout"><button class="btn-search"><span class="fa fa-shopping-cart"></span></button></a>
                  
              </div>
          </div>
      </div>
  </div>
  <div class="header_bottom">
      <div class="container">
          <div class="row">
              <div class="col-11 menu">
                  <ul>
                      <li><a href="index.html">HOME</a></li>
                      <li><a href="#">PRESCRIPTION</a></li>
                      <li> <a class="active" routerLink="/ayush">AYUSH</a></li>
                      <li><a href="#">FITNESS</a></li>
                      <li><a href="#">PERSONAL CARE</a></li>
                      <li><a href="#">FAMILY CARE</a></li>
                      <li><a href="#">LIFESTYLE</a></li>
                      <li><a href="#">TREATMENT</a></li>
                  </ul>
              </div>
              <div class="col-1 header_bottom_right">
                  <a  routerLink="/signin" class="btn btn-info btn1">SIGN IN</a>
                  </div>
          </div>
      </div>
  </div>
</header>

<main>
  <section id="banner1">
    <div class="w3-content w3-section" >
<img class="mySlides" src="assets/img/Ayush-web.jpg" style="width:100%; height:240px;">
<img class="mySlides" src="assets/img/Web_Category_Banner.jpg" style="width:100%; height:240px;">
</div>
  </section>
  <section id="products">
    <div class="container">
      <div class="row">
        <div class="col-3 h-line">
          <hr>
        </div>
        <div class="col-6 text-center">
          <div class="heading">
            <h1>Recent Products</h1>
          </div>
        </div>
        <div class="col-3 h-line">
          <hr>
        </div>
      </div>
      
      <div class="row ">
        <div class="col-4 prod_margin">
          <div class="product_detail">
            <div class="product_img" style="background-image: url('assets/img/ADVAIR.jpg')">
              
            </div>
            <div class="product_desc">
              <h4>Advair:  *Rs.300</h4>
               <button class="w3-button w3-white w3-border w3-border-red w3-round-large">View Details</button>
            </div>
          </div>
        </div>
        </div>

      </div>
      </section>
  </main>