<form #loginForm="ngForm" class="col s12 white" (ngSubmit)="OnSubmit(loginForm)">
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">account_circle</i>
      <input type="text" #UserName [(ngModel)]="user.Username" name="UserName" placeholder="Email" required>
    </div>
  </div>
  <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">vpn_key</i>
        <input type="password" #Password [(ngModel)]="user.Password" name="Password" placeholder="Password" required minlength="3">
      </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <button [disabled]="!loginForm.valid" class="btn-large btn-submit" type="submit" >Login</button>
        </div>
      </div>
  </form>